<h1>Word Definer</h1>
<h2>Your very own dictionary!</h3>
<br>
<ul><b>
  <li>Add a word you would like to learn below.</li>
  <br>
  <li>Once you have added all the individual words you would like to learn to the list, click on the word you want to define. You can then add as many definitions or examples of that word as you'd like.</li>
  <br>
  <li>Click the "return to the homepage" link to define another word. Just click on a word you've defined to see your definition again.</li></b>
  </ul>

  <br>
<form action="/output" method="post">
  <div class="form-group">
    <label for="word">Enter a word and click the button to add it to your list of words</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <br>
  <button type="submit" class="btn btn-info">Add to my dictionary!</button>
</form>

<% @word.each do |word| %>
  <h4><a href="/output/<%= word.word %>"><%= word.word %></a></h4>
<% end %>
