<!DOCTYPE html>
<html>
  <head>
    <title>Word Definer</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Schoolbell" rel="stylesheet">
  </head>
  <body>
    <img src="img/dictionary.png">
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
